<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <% render 'layouts/stylesheets' %>
  </head>
  <body>

    <div class="container">
     <div class= "span-20">
	<p class= "welcome">"Welcome to Fox Hill's website"</p>
	<li><%= link_to "Register", register_path %></li>
	<li><%= link_to "Log In", '#'%></li>
     </div>
      <header>
	<div id="logo">
	<%= image_tag("header.jpg", :alt => "gamise ta", :class => "round2") %>
        </div>
        <%= render 'layouts/stylesheets' %>
     </header>

    <div class="span-6">        
     <nav class="round">
      <div class="arrowgreen">
	<ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", contact_us_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Find Us", find_us_path %></li>
        </ul>
      </div> 
    </nav>   
   </div>
   <div class="span-14 last">
      <section class="round">
        <%= yield %>
      </section>
  </div>    
 </div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
