<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>

    <div class="container showgrid">
      <header>
	<div id="logo">
	<h1><%= image_tag("fobh-boxtree.jpg", :alt => "gamise ta", :class => "round") %></h1>
        </div>
        <%= render 'layouts/stylesheets' %>
     </header>

    <div class="span-5">        
     <nav class="round">
      <div class="arrowgreen">
	<ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact Us", '#' %></li>
            <li><%= link_to "Events", '#' %></li>
            <li><%= link_to "Find Us", '#' %></li>
          </ul>
        </div> 
       </nav>   
   </div>
   <div class="span-13 last">
      <section class="round">
        <%= yield %>
      </section>
  </div>    
</div>
</body>
</html>
