<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <% render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>

    <div class="container">
     <div class= "span-20">
	<p class= "welcome">"Welcome to Fox Hill's website"</p>
	<% if signed_in? %>
	<li><%= link_to "Users", users_path %></li>
      	<li><%= link_to "Profile", current_user %></li>
	<li><%= link_to "Settings", edit_user_path(current_user) %></li>
      	<% else %>
	<li><%= link_to "Register", register_path %></li>
	<%end%>
	<% if signed_in? %>
	<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      	<% else %>
	<li><%= link_to "Sign In", signin_path%></li>
	<% end %>
     </div>
      <header>
	<div id="logo">
	<%= image_tag("header.jpg", :alt => "boxhill", :class => "round2") %>
        </div>
        <%= render 'layouts/stylesheets' %>
     </header>

    <div class="span-6">        
     <nav class="round">
      <div class="arrowgreen">
	<ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", contact_us_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Find Us", find_us_path %></li>
        </ul>
      </div> 
    </nav>   
   </div>
   <div class="span-14 last">
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
  </div>    
 </div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
